
body{
	margin: 0;
	padding: 0;
	
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
	min-height: 100vh;
}
.menu{
	width: 135px;
	height: 50px;
	background-color: orange;
	font-size: 24px;
	margin-left: 43%;
	text-align: center;
	align-items: center;
	padding: 10px;
	padding-top: 16px;
	margin-top: 1.58cm;
	border: 1px solid white;
	border-radius: 40px;
}
.menu:hover{
	box-shadow: 0px 0px 10px 3px #E0C34E;
}
@media(max-width: 785px) {
 .menu{
 	margin-left: 28%;
 }
}

.container{
	margin-top:100px;
	text-align: center;
	align-items: center;
	/*display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));*/

	padding: 10px;
	box-sizing: border-box;
}

.box1{
	position: relative;
	margin: 10px 10px 10px 10px;
	background:#fff;
	padding: 20px 40px 40px;
	text-align: center;
	overflow: hidden;
	border-radius: 20px;
	background-color: #48A8A7;
	border: 2px solid #2E3BED;
}
 .box2{
	position: relative;
	margin: 10px 10px 10px 10px;
	background:#fff;
	padding: 20px 40px 40px;
	text-align: center;
	overflow: hidden;
	border-radius: 20px;
	background-color: #EBB663;
	border: 2px solid #A96905;
}
.box3{
	position: relative;
	margin: 10px 10px 10px 10px;
	background:#fff;
	padding: 20px 40px 40px;
	text-align: center;
	overflow: hidden;
	border-radius: 20px;
	background-color: #0BD07F;
	border: 2px solid #139306;
}
.h1{
     background-color: #9BAFB5;
     width: 80px;
     height: 35px;
     color: white;
     font-size: 17px;
     padding: 10px;
     margin-left: 3cm;
     
     border: 1px solid white;
     border-radius: 20px;
     text-align: center;
}
.h1:hover{
	box-shadow: 0px 0px 10px 3px #60F4F6;

}

.h2{
     background-color: #99863A ;
     width: 80px;
     height: 35px;
     color: white;
     font-size: 17px;
     padding: 10px;
     margin-left: 3cm;
     
     border: 1px solid white;
     border-radius: 20px;
     text-align: center;
     margin-top: 10px;
}
.h2:hover{
	box-shadow: 0px 0px 10px 3px #CC6E0A;

}

.h3{
    background-color:  #80BC7D;
     width: 80px;
     height: 35px;
     color: white;
     font-size: 17px;
     padding: 10px;
     margin-left: 3cm;
     
     border: 1px solid white;
     border-radius: 20px;
     text-align: center;
     margin-top: 10px;
}
.h3:hover{
	box-shadow: 0px 0px 10px 3px #30D10B;

}

@media(min-width: 786px) and (max-width: 991px) {
	.h1{
		margin-left: 36%;
	}
	.h2{
		margin-left: 36%;
	}
	.h3{
		margin-left: 43%;
	}
}

@media(max-width: 785px) {
	.h1{
		margin-left: 32%;
	}
	.h2{
		margin-left: 32%;
}
	.h3{
		margin-left: 32%;
	}
}

/*	margin-left: 10px;
}
.col-md-6 .box2{
margin-right: -10px;
margin-left: 12px;

}

.col-md-6 .box1{
margin-right: 5px;
margin-left: 8px;

}

.col-md-12 .box3 {
margin-right: 20px;
margin-left: -20px;
margin-top: 1.5cm;
}

/*.col-sm-12 .box1{
margin-left: 10px;
}
.col-sm-12 .box2{
	margin-right: 8px;
	margin-top: 13px;
}
.col-sm-12 .box3{
	margin-right: 20px;
	margin-top: 13px;

}*/


@media(min-width: 786px) and (max-width: 991px) {
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,#col-md-7,.col-md-8,
	.col-md-9,#col-md-10,.col-md-11,.col-md-12
	{
		float: left;
		border-radius: 1px solid green;
	}
	.col-md-1{
		width: 8.33%;
	}
	.col-md-2{
		width: 16.66%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33%;
	}
	.col-md-5{
		width: 41.66%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.33%;
	}
	.col-md-8{
		width: 66.66%;
	}
	.col-md-9{
		width: 74.99%;
	}
	.col-md-10{
		width: 83.33%;
	}
	.col-md-11{
		width: 91.66%;
	}
	.col-md-12{
		width: 100%;
		
	}

}


@media(min-width: 992px) {

	.col-lg-1,#col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,#col-lg-7,.col-lg-8,
	.col-lg-9,#col-lg-10,.col-lg-11,.col-lg-12
	{
		float: left;
		border-radius: 1px solid green;
	}
	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2{
		width: 16.66%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33%;
	
	}
	.col-lg-5{
		width: 41.66%;
	}
	.col.lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 58.33%;
	}
	.col-lg-8{
		width: 66.66%;
	}
	.col-lg-9{
		width: 74.99%;
	}
	.col-lg-10{
		width: 83.33%;
	}
	.col-lg-11{
		width: 91.66%;
	}
	.col-lg-12{
		width: 100%;
	}

}

/*@media(max-width: 524px)  {
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,#col-sm-7,.col-sm-8,
	.col-sm-9,#col-sm-10,.col-sm-11,.col-sm-12
	{
		float: left;
		border-radius: 1px solid green;
	}
	.col-sm-1{
		width: 8.33%;
	}
	.col-sm-2{
		width: 16.66%;
	}
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33%;
	}
	.col-sm-5{
		width: 41.66%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-7{
		width: 58.33%;
	}
	.col-sm-8{
		width: 66.66%;
	}
	.col-sm-9{
		width: 74.99%;
	}
	.col-sm-10{
		width: 83.33%;
	}
	.col-sm-11{
		width: 91.66%;
	}
	.col-sm-12{
		width: 100%;
	}

}*/